body{
    background-color: rgb(45, 0, 247);
    text-align: center;  /* NOVO: centraliza TUDO! */
}

h1 {
    color: blueviolet;
    font-size: 45px;
    background-color: rgb(238, 8, 8);  /* NOVO: fundo branco nos títulos */
    padding: 15px;  /* NOVO: espaço interno */
    border-radius: 30px;  /* NOVO: cantos arredondados */
    display: inline-block;  /* NOVO: o fundo abraça só o texto */
}

iframe {
    width: 80%;  /* NOVO: vídeos ocupam 80% da tela */
    max-width: 700px;  /* NOVO: não passam de 700px */
    height: 400px;  /* NOVO: altura padrão */
    margin: 20px;  /* NOVO: espaço ENTRE os vídeos */
    border-radius: 20px;  /* NOVO: bordas arredondadas */
    border: 5px solid rgb(0, 204, 255);  /* NOVO: moldura branca */
}